.pr-button {
    font-family: inherit;
    font-size: 14px;
    line-height: 30px;

    position: relative;

    display: inline-block;
    overflow: visible;

    margin: 0;
    padding: 0;

    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    text-transform: none;

    color: inherit;
    border: 0;
    outline: 0;
    background: none;

    -webkit-appearance: none;
}
.pr-button::-moz-focus-inner {
    padding: 0;

    border: 0;
}
.pr-button:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    border: 1px solid #ccc;
    border-radius: 3px;
}
.pr-button_hovered:before,
.pr-button:hover:before {
    border-color: #aeaeae;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}
.pr-button_pressed:before,
.pr-button:active:before {
    background-color: #f7f7f7;
}
.pr-button_disabled {
    cursor: default;

    color: #aeaeae;
}
.pr-button_disabled:before,
.pr-button_disabled:hover:before,
.pr-button_disabled:active:before {
    border-color: #ccc;
    background-color: #eee;
    box-shadow: none;
}
.pr-button__text {
    position: relative;
    top: -1px;

    display: inline-block;
    overflow: hidden;

    padding: 0 14px;

    vertical-align: top;
    text-overflow: ellipsis;
}
.pr-calendar {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;

    box-sizing: border-box;
    margin: 20px 0 0;
}
.pr-calendar *,
.pr-calendar *:before,
.pr-calendar *:after {
    box-sizing: inherit;
}
.pr-calendar__header {
    padding: 0 0 20px;
}
.pr-calendar__nav,
.pr-calendar__title {
    position: relative;

    display: inline-block;

    vertical-align: top;
}
.pr-calendar__nav {
    margin: 0 20px 0 0;
}
.pr-calendar__title {
    font-size: 1.28571429em;
    font-weight: bold;

    margin: 5px 0 0;
}
.pr-month {
    font-size: 14px;
}
.pr-month__header {
    width: 100%;

    table-layout: fixed;
}
.pr-month__dayname {
    padding: 0 5px 5px;

    text-align: right;
}
.pr-month__grid {
    height: 660px;
    min-height: 300px;

    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: #ddd;
}
.pr-month__row {
    position: relative;

    overflow: hidden;

    height: 20%;
}
.pr-month__bg {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    table-layout: fixed;
    border-spacing: 0;
}
.pr-month__bg-cell {
    padding: 0;

    border-left: 1px solid #ddd;
}
.pr-month__bg-cell_type_off {
    background-color: #eee;
}
.pr-month__cnt {
    position: relative;

    width: 100%;

    table-layout: fixed;
    border-spacing: 0;
}
.pr-month__cnt-title {
    padding: 5px 5px;

    text-align: right;

    border-top: 1px solid #ddd;
}
.pr-month__row:first-child .pr-month__cnt-title {
    border-top: 0;
}
.pr-month__cnt-day {
    line-height: 28px;

    position: relative;

    display: inline-block;

    width: 28px;

    text-align: center;
    vertical-align: top;
    text-decoration: none;

    color: inherit;
    border-radius: 50%;
    outline: 0;
    background: transparent;
}
.pr-month__cnt-day:hover {
    background-color: #e8e8e8;
}
.pr-month__cnt-day_type_off {
    color: #bdbdbd;
}
.pr-month__cnt-day_type_off:hover {
    background-color: #fbfbfb;
}
.pr-month__cnt-day_type_today {
    color: #fff;
    background-color: #008bff;
}
.pr-month__cnt-day_type_today:hover {
    background-color: #3ca6ff;
}
.pr-month__cnt-item {
    padding: 0;
}
.pr-month__overlap {
    font-size: .92857143em;

    padding: 5px;

    cursor: pointer;

    color: #888;
}
.pr-month__overlap:hover {
    text-decoration: underline;

    color: #008bff;
}
.pr-task {
    line-height: 1.42857143;

    overflow: hidden;

    max-width: 100%;
    margin: 2px 5px 0;
    padding: 0 5px;

    white-space: nowrap;
    text-overflow: ellipsis;
}
.pr-task_not_start {
    margin-left: 0;
}
.pr-task_not_end {
    margin-right: 0;
}